.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-image {
  position: fixed;
  /* Ensures the tooltip is free from table constraints */
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1000;
  pointer-events: none;
}

.tooltip-container:hover .tooltip-image {
  visibility: visible;
  opacity: 1;
}

.tooltip-image img {
  max-width: 300px;
  /* Adjust for full-size image */
  border: 2px solid #cccccc;
  /* Adds a visible outline */
  border-radius: 8px;
  /* Curves the corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adds shadow for better visibility */
  background-color: #ffffff;
  /* Optional: Background for the image */
}

.badge {
  background-color: var(--badge-bg-color, gray);
  /* Use gray as fallback */
  color: #ffffff;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.badge .hemisphere-symbol {
  font-size: 1em;
  line-height: 1em;
}

.badge .latitude-value {
  font-size: 0.7em;
  line-height: 1em;
  margin-top: 0.2em;
}
