name: Tests
on:
- push
- pull_request
jobs:
  python-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/workflows/setup-python
    - uses: pre-commit/action@v3.0.1
    - name: Python tests
      run: uv run pytest --color=yes
  r-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/workflows/setup-r
    - name: R tests
      run: Rscript -e "packageVersion('arrow')"
      working-directory: website/skirolly/
